// Importaciones generales  
//-------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


// Reset

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

// Colores
//-------------------------------------------------------------


$lavanda: #E6D6FC;
$purpura: #883AE1;
$claro: #E5EAF0;
$nieve: #FAFAF9;
$blanco: #FFFFFF;
$nocturno: #20293A;
$gris: #6C727F;

// Sombras
//-------------------------------------------------------------


$shadow-hover: 16px 16px 80px #e1e1e0,
-8px -8px 64px $claro;

$shadow: 14px 14px 28px #e1e1e0,
-14px -14px 80px $claro;

// Tipografia
//-------------------------------------------------------------

.font-title{
    font-family: "Sora", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

.font-main{
    font-family: "Sora", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
}

.font-text{
    font-family: "Sora", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.font-tag{
    font-family: "Sora", sans-serif;
    font-size: 0.625rem;
    font-weight: 700;
}


// Configuraciones generales de la página
//-------------------------------------------------------------

body {
    width: 100vw;
    height: 100vh;
    background: $blanco;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-columna {
        flex-direction: column;
    }
} 

.contenido {
    width: 100%;
    height: 100%;
}

.card {
    background-color: $nieve;
}

.b-r {
    border-radius: 0.75rem;

    &-1 {
    border-radius: 1rem;

    }
}

.tags {
    width: 100%;
    justify-content: start;
    gap: 0.5rem;


    .tag{
        padding: 0.35rem 1rem;
        color: $purpura;
        background-color: $lavanda;
    }
}

